<?xml version="1.0" encoding="utf-8"?>
<TechnologyRegistrar>
  <InstallerTechnology>
    <Technology Id="Msi" Key="Msi" LogicalName="MsiInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller" />
    <Technology Id="Script" Key="Script" LogicalName="ScriptInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.ScriptInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller" />
    <Technology Id="Appv" Key="Appv" LogicalName="AppvInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppvInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppvInstaller" />
    <Technology Id="AppV5x" Key="AppV5x" LogicalName="AppV5xInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xInstaller" />
    <Technology Id="WM" Key="WM" LogicalName="WMInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WMInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WMInstaller" />
    <Technology Id="Nokia" Key="Nokia" LogicalName="NokiaInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.NokiaInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.NokiaInstaller" />
    <Technology Id="iOS" Key="iOS" LogicalName="iOSInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstaller" />
    <Technology Id="iOSDeepLink" Key="iOSDeepLink" LogicalName="iOSDeepLinkInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.iOSDeepLinkInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstaller" />
    <Technology Id="Mac" Key="Mac" LogicalName="MacInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MacInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MacInstaller" />
    <Technology Id="Windows8App" Key="Windows8App" LogicalName="Windows8AppInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.Windows8AppInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.Win8Installer" />
    <Technology Id="Deeplink" Key="Deeplink" LogicalName="DeeplinkInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.DeeplinkInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.Win8Installer" />
    <Technology Id="WinPhone8" Key="WinPhone8" LogicalName="WinPhone8InstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8InstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8Installer" />
    <Technology Id="WinPhone8Deeplink" Key="WinPhone8Deeplink" LogicalName="WinPhone8DeeplinkInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8DeeplinkInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8Installer" />
    <Technology Id="Android" Key="Android" LogicalName="AndroidInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstaller" />
    <Technology Id="AndroidDeepLink" Key="AndroidDeepLink" LogicalName="AndroidDeepLinkInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AndroidDeepLinkInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstaller" />
    <Technology Id="WebApp" Key="WebApp" LogicalName="WebAppInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WebAppInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WebAppInstaller" />
    <Technology Id="MobileMsi" Key="MobileMsi" LogicalName="MobileMsiInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiInstaller" />
    <Technology Id="TaskSequence" Key="TaskSequence" LogicalName="TaskSequenceInstallerTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.TaskSequenceInstallerTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.TaskSequenceInstaller" />
  </InstallerTechnology>
  <HostingTechnology>
    <Technology Id="Native" Key="Native" LogicalName="NativeHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.NativeHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement" />
    <Technology Id="Appv" Key="Appv" LogicalName="AppvHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppvHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppvInstaller" />
    <Technology Id="AppV5x" Key="AppV5x" LogicalName="AppV5xHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xInstaller" />
    <Technology Id="WM" Key="WM" LogicalName="WMHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WMHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WMInstaller" />
    <Technology Id="Nokia" Key="Nokia" LogicalName="NokiaHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.NokiaHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.NokiaInstaller" />
    <Technology Id="iOS" Key="iOS" LogicalName="iOSHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.iOSHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstaller" />
    <Technology Id="Mac" Key="Mac" LogicalName="MacHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MacHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MacInstaller" />
    <Technology Id="Windows8App" Key="Windows8App" LogicalName="Windows8AppHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.Windows8AppHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.Win8Installer" />
    <Technology Id="xap" Key="xap" LogicalName="WinPhone8HostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8HostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8Installer" />
    <Technology Id="Android" Key="Android" LogicalName="AndroidHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AndroidHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstaller" />
    <Technology Id="WebApp" Key="WebApp" LogicalName="WebAppHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WebAppHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WebAppInstaller" />
    <Technology Id="MobileMsi" Key="MobileMsi" LogicalName="MobileMsiHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiInstaller" />
    <Technology Id="TaskSequence" Key="TaskSequence" LogicalName="TaskSequenceHostingTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.TaskSequenceHostingTechnology,Microsoft.ConfigurationManagement.ApplicationManagement" />
  </HostingTechnology>
  <DeploymentTechnology>
    <Technology Id="Msi" Key="Msi" LogicalName="MsiDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MsiDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller" />
    <Technology Id="Script" Key="Script" LogicalName="ScriptDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.ScriptDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MsiInstaller" />
    <Technology Id="Appv" Key="Appv" LogicalName="AppvDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppvDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppvInstaller" />
    <Technology Id="AppV5x" Key="AppV5x" LogicalName="AppV5xDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AppV5xInstaller" />
    <Technology Id="WM" Key="WM" LogicalName="WMDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WMDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WMInstaller" />
    <Technology Id="Nokia" Key="Nokia" LogicalName="NokiaDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.NokiaDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.NokiaInstaller" />
    <Technology Id="iOS" Key="iOS" LogicalName="iOSDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.iOSDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstaller" />
    <Technology Id="iOSDeepLink" Key="iOSDeepLink" LogicalName="iOSDeepLinkDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.iOSDeepLinkDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.iOSInstaller" />
    <Technology Id="Mac" Key="Mac" LogicalName="MacDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MacDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MacInstaller" />
    <Technology Id="Windows8App" Key="Windows8App" LogicalName="Windows8AppDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.Windows8AppDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.Win8Installer" />
    <Technology Id="Deeplink" Key="Deeplink" LogicalName="DeeplinkDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.DeeplinkDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.Win8Installer" />
    <Technology Id="WinPhone8" Key="WinPhone8" LogicalName="WinPhone8DeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8DeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8Installer" />
    <Technology Id="WinPhone8Deeplink" Key="WinPhone8Deeplink" LogicalName="WinPhone8DeeplinkDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8DeeplinkDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WinPhone8Installer" />
    <Technology Id="Android" Key="Android" LogicalName="AndroidDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AndroidDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstaller" />
    <Technology Id="AndroidDeepLink" Key="AndroidDeepLink" LogicalName="AndroidDeepLinkDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.AndroidDeepLinkDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.AndroidInstaller" />
    <Technology Id="WebApp" Key="WebApp" LogicalName="WebAppDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.WebAppDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.WebAppInstaller" />
    <Technology Id="MobileMsi" Key="MobileMsi" LogicalName="MobileMsiDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.MobileMsiInstaller" />
    <Technology Id="TaskSequence" Key="TaskSequence" LogicalName="TaskSequenceDeploymentTechnology" TypeName="Microsoft.ConfigurationManagement.ApplicationManagement.TaskSequenceDeploymentTechnology,Microsoft.ConfigurationManagement.ApplicationManagement.TaskSequenceInstaller" />
  </DeploymentTechnology>
</TechnologyRegistrar>